:root{
    --fuenteHeading: "Pt sans", sans-serif;
    --fuenteParrafos: "Open Sans", sans-serif;

    --primario: #784d3c;   
    --claro: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;

}

html{
    box-sizing: border-box;
    font-size: 62,5%; /*=1 REM*/
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/*globales*/
.contenedor{
    max-width: 120rem;
    width: 70%;  /*para que no se vaya hasta los bordes*/
    margin: 0 auto;
}

a{
    text-decoration: none  /*le saca el underline*/
}

h1, h2, h3, h4{
    font-family: var(--fuenteHeading);
    line-height: 1;
}

h1{
    font-size: 3rem;
}
                                               /*se utiliza mas de una vez entonces se pone global*/
h2{
    font-size: 2.2rem;
}

h3{
    font-size: 2rem;
}

h4{
    font-size: 1.6rem
}

p{
    font-size: 1rem;
}

img{
    max-width: 100%;
}

/*utilidades*/
.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.centrar-texto{
    text-align: center;
}

/*header*/
.header{
    background-image: url(../img/banner.jpg);
    height: 500px;
    background-size: cover; /*para que tome todo el espacio la imagen del fondo*/
    background-repeat: no-repeat;
    background-position: center center; /*para que fluya hacia el centro, verticaul y horizontal*/
}

.header__texto{
    text-align: center;
    color: var(--blanco);
    margin-top: 1rem;
}

@media (min-width: 768px) {
    .header__texto{
        margin-top: 7rem;
    }
}

.barra{
    padding-top: 2rem;
}

@media (min-width: 768px) {
  .barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
}  
}

.logo{
    color: var(--blanco)
}

.logo__nombre{
    font-weight: 200;
}

.logo__bold{
    font-weight: 500;
}

@media (min-width: 768px) {
    .navegacion{
        display: flex;
        gap: 2rem;
    }
}
.navegacion__enlace{
    display: block; /*elementos uno abajo del otro*/
    text-align: center;
    font-size: 1rem;
    color: var(--blanco)
}

@media (min-width: 768px) {
    .contenido-principal{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 2rem;
    }
}

.entrada{
    border-bottom: 1px solid var(--claro);
    margin-bottom: 2rem;
}

.entrada:last-of-type{
    border: none;
    margin-bottom: 0;
}

.boton{
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
}
.boton:hover{
    cursor: pointer;
}

@media (min-width: 768px) {
    .boton{
        display: inline-block; /*acorta el boton en el mq*/
    }
}
.boton--primario{
    background-color: var(--negro)}

    .boton--secundario{
        background-color: var(--primario);
    }

    .cursos{
        list-style: none;
    }

.curso{
border-bottom: 1px solid var(--claro);
margin-bottom: 2rem;
    }
.curso:last-of-type{
    border:none;
    margin-bottom: 0;
}
.curso__label{
    font-family: var(--fuenteHeading);
    font-weight: bold;
    }

.curso__info{
    font-weight: normal;
    }

.curso__label,
.curso__info{
    font-size: 0.9rem;
}

.footer{
    background-color: var(--negro);
    padding-bottom: 2rem;
    margin-top: 1rem;
}

/*sobre nosotros*/
@media (min-width: 768px) {
    .sobre-nosotros{
        display: flex;
        justify-content: space-between;
    }
    .sobre-nosotros__imagen,
    .sobre-nosotros__texto{
        flex-basis: calc(50% - 1rem); /*el width cuando hay flexbox, es lo mismo que poner un width*/
    }
}

/* lo mismo en grid:
.sobre-nosotros{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}*/


/*cursos*/

.curso{
    padding: 3rem 0;
    border-bottom: 1px solid var(--claro);
}
@media (min-width: 768px) {
    .curso{
        display: grid;
        grid-template-columns: 1fr 2fr;   /*achica la imagen y la pone al costado izquierdo*/
        column-gap: 2rem;
    }

}

.curso:last-of-type{
    border: none;
}

.curso__label{
    font-family: var(--fuenteHeading);
    font-weight: bold;
    }

.curso__info{
    font-weight: normal;
    }

.curso__label,
.curso__info{
    font-size: 0.9rem;
}

/*contacto*/

.error {
    background-color: rgb(185, 0, 0);
    text-align: center;
    padding: 1rem;
    color: var(--blanco);
    text-transform: uppercase;
}
.correcto {
    background-color: rgb(74, 185, 0);
    text-align: center;
    padding: 1rem;
    color: var(--blanco);
    text-transform: uppercase;
}
.contacto-bg{
    background-image: url(../img/contacto.jpg);
    height: 25rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.formulario{
    background-color: var(--blanco);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;
    }
    
    @media (min-width: 768px) {
        .formulario{
            padding: 5rem;
        }

    
        .campo{
            display: flex;
            margin-bottom: 2rem;
            
            }
            
            .campo__label{
            flex: 0 0 9rem;
            text-align: right;
            padding-right: 2rem;
            }
            
            .campo__field{
            flex: 1;
            border: 1px solid var(--claro);
            overflow: auto;
            }
            
            .campo__field--textarea{
                height: 15rem;
            }
        }